* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #222;
}

body {
    max-width: 800px;
    background-color: grey;
    margin: auto;
;
}

.selectAction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playerAction, .computerAction {
    margin: 50px;
    width: 150px;
    height: 137px;
    background-image: url(./Board.png);
    background-size: cover;
}